.features-page {
  background: #111;
  color: white;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* HERO */
.features-hero {
  text-align: center;
  padding: 70px 20px;
}

.features-hero h1 {
  font-size: 45px;
  color: cyan;
  margin-bottom: 10px;
}

.features-hero p {
  color: #ccc;
  font-size: 18px;
}

/* FEATURES GRID */
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 40px;
}

.feature-card {
  background:white;
  width: 260px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0,255,255,0.2);
}

.feature-card:hover {
  transform: translateY(-10px);
}

.feature-icon {
  font-size: 50px;
  margin-bottom: 15px;
}

.feature-card h2 {
  margin-bottom: 10px;
}

.feature-card p {
  color: #bbb;
}