.login-container {
  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

    background-image: url("https://images.unsplash.com/photo-1518770660439-4636190af475?q=80&w=1920&auto=format&fit=crop");

}

.login-box {
  width: 400px;

  background: white;

  padding: 40px;

  border-radius: 20px;

  display: flex;

  flex-direction: column;

  gap: 20px;
}

.login-box input,
.login-box button {
  padding: 14px;

  border-radius: 10px;

  border: 1px solid #ccc;
}

.login-box button {
  background: #0b1f55;

  color: white;

  border: none;

  font-weight: bold;
}